body{
  background-color: #3B3BB0;
  font-family: 'Kreon', serif;
}

.container__home{
  text-align: center;
}

.button__home{
  width: 300px;
  height: 100px;
  margin: 200px;
  font-size: 80px;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #DBFF66;
  color: #3B3BB0;

}
.button__home:hover, .button__home:focus{
  transform: scale(1.1);
}
