body {
  background: #3B3BB0;
}

.container {
  width: 700px;
  margin: 90px auto;
  background: linear-gradient(#3B3BB0, #AFBEE4);
  border: 2px solid #3B3BB0;
  font-size: 30px;
  border-radius: 0 0 20px 20px;
}
